@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-1 {
    -webkit-text-stroke: .1px white;
  }
  .font-outline-2 {
    -webkit-text-stroke: .2px white;
  }
  .modal-btn {
    @apply text-sm shadow-sm font-medium px-3 sm:px-4 py-2 sm:py-3 rounded-sm transition-colors active:scale-95;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and 엣지 */
    scrollbar-width: none;  /* 파이어폭스 */
  }
  /* width */
  .profile-scrollbar::-webkit-scrollbar,
  .comm-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  /* Track */
  .profile-scrollbar::-webkit-scrollbar-track,
  .comm-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  /* Handle */
  .profile-scrollbar::-webkit-scrollbar-thumb {
    background-color: #D6D8D7;
  }
  .comm-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1px;
    @apply bg-pantone-latte;
  }
  /* Handle on hover */
  .profile-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #85817F;
  }
  .comm-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-pantone-cocoa;
  }
}

html,
body {
  font-family: "Pretendard", "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background: rgba(251,250,246,.6);
  background: radial-gradient(circle, rgba(251,250,246,.6) 0%, rgba(223,211,175,.6) 100%);
}

input[type='range']::-webkit-slider-thumb {
  @apply appearance-none bg-white rounded-full w-3 h-3;
}

.sr-only {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px); /* IE6/7 */
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position:absolute;
	width: 1px;
	word-wrap:normal; /* IE9+ */
}